#Header set Access-Control-Allow-Origin "*"
Header set Origin: "*"
Header set Vary: Origin
Header set Content-Type: "application/json"
Header set Authorization: ""

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /sdo/index.php [L,QSA]